$accent: #e8fd88;
$darkerAccent: #f8f661;
$background: black;
$text: #d9e0ee;

$containerPadding: 20px;
$fullArticlePadding: 10px;
$headerHeight: 45px;
$commentsHeight: 269px;
$footerHeight: 50px;

$minHeight: calc(
    100vh - $containerPadding * 2 - $headerHeight - $footerHeight - 2px
);
