<header>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>

<style lang="scss">
    header {
        border-bottom: 1px solid $accent;
        height: 35px;
        display: flex;
        align-items: center;

        nav {
            margin-left: 20px;
            a {
                color: unset;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
</style>