<header>
    <nav>
        <a href="/">Home</a>
    </nav>
</header>

<style lang="scss">
    header {
        border-bottom: 1px solid $accent;

        nav {
            margin: 10px 20px;
            a {
                color: unset;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
</style>