---
import Layout from "./Layout.astro";
import Article from "../components/Article.astro";
const { frontmatter } = Astro.props;
---

<Layout
    meta={{
        title: frontmatter.title,
        description: frontmatter.description,
        url: "https://blog.toastenergy.xyz" + frontmatter.url,
        type: "article",
        tags: frontmatter.tags,
        date: frontmatter.date,
        robots: "index, follow",
    }}
>
    <div class="article-parent">
        <Article frontmatter={frontmatter} full={true}>
            <slot />
        </Article>
    </div>
    <script
        src="https://utteranc.es/client.js"
        repo="ToastEnergy/ToastBlogComments"
        issue-term="pathname"
        label="📰 Article"
        theme="github-dark"
        crossorigin="anonymous"
        async
    ></script>
</Layout>

<style lang="scss">
    .article-parent {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>
