@use "_spinner";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$color1: #121212;
$color2: #1d1d1d;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $color1;
    color: white;
}

a {
    color: unset;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@keyframes appear {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes disappear {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.header-child {
    .bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color2;
        width: calc(100vw - 40px);
        height: 44px;
        padding: 5px 20px;
    }

    .icon {
        display: inline-block;
        cursor: pointer;

        svg {
            height: 30px;
        }
    }

    p {
        margin: 0;
    }

    button {
        background-color: $color2;
        border: none;
        outline: none;
        cursor: pointer;
        color: unset;
        font-family: unset;
        font-size: unset;
        font-weight: unset;
        padding: 5px 8px;
        border-radius: 5px;
    }

    nav {
        position: fixed;
        z-index: 999;
        top: 0;
        animation: appear 0.2s;
        display: flex;
        flex-direction: column;
        height: 100vh;
        display: flex;
        padding: 20px;
        background-color: RGBA(0, 0, 0, 0.7);
        width: 50vw;

        hr {
            width: 100%;
        }
    }
}

.articles {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.preview {
    position: relative;
    background-color: $color2;
    width: 300px;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 4px 4px 4px RGBA(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 10px;
}

.full {
    padding: 20px;
}

.article {
    line-break: normal;

    .author {
        opacity: 0.3;
    }

    .date {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 15px;
        opacity: 0.4;
    }

    hr {
        margin: 15px 0;
    }

    .title {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .body {
        margin: 0;

        p {
            margin: 0;
        }
    }
}

.open-article {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: RGBA(0, 0, 0, 0.9);
    text-align: center;

    p {
        padding: 10px;
        margin: 0;
        font-size: 20px;
    }
}

.auth {
    img {
        border-radius: 1000px;
        cursor: pointer;
    }
}

.user-page {
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .info {
        width: 300px;

        .avatar {
            display: flex;
            justify-content: center;

            img {
                border-radius: 50%;
            }
        }

        .name {
            margin-top: 50px;
            display: flex;
            align-items: center;
            gap: 10px;

            h1 {
                margin: 0;
            }
        }

        .editor {
            background-color: #f8ae57;
        }

        .reader {
            background-color: #3fe66e;
        }

        .editor,
        .reader {
            text-shadow: 1px 1px 2px black;
            padding: 2px;
            border-radius: 5px;
        }

        .option {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            p {
                margin: 0;
            }

            span {
                opacity: 0.5;
            }
        }

        .articles {
            margin: 8px 0;
            gap: 25px;
        }
    }
}

.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .not-logged {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;

        p {
            margin: 0;
        }
    }
}

.comments-child {
    width: 90vw;
    max-width: 500px;
}

.add-comment {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        textarea {
            background-color: $color2;
            border: none;
            outline: none;
            border-radius: 5px;
            box-shadow: 4px 4px 5px black;
            color: unset;
            font-family: unset;
            width: calc(100% - 20px);
            height: 100px;
            padding: 10px;
            resize: none;
            font-size: 15px;
        }

        button {
            background-color: $color2;
            border: none;
            outline: none;
            border-radius: 5px;
            box-shadow: 4px 4px 5px black;
            color: unset;
            font-family: unset;
            cursor: pointer;
            height: 50px;
        }
    }
}

.comments {
    .comment {
        display: flex;
        gap: 10px;

        img {
            border-radius: 50%;
        }

        .date {
            opacity: 0.6;
            margin-top: 0;
            margin-bottom: 2px;
        }

        .username {
            margin: 0;
            opacity: 0.4;

            a {
                cursor: pointer;
            }
        }

        .body {
            margin-bottom: 0;
            line-break: anywhere;
        }

        .left {
            width: 10%;
        }

        .right {
            width: 90%;

            .top-right {
                display: flex;
                gap: 15px;

                button {
                    cursor: pointer;
                    background-color: $color2;
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                    font-family: unset;
                    box-shadow: 2px 2px 2px black;
                }
            }
        }
    }

    hr {
        border: 1px solid RGBA(255, 255, 255, 0.2);
        margin: 20px 0;
    }
}

.account {
    padding: 50px;

    .options {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 45px;

        .option {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    input {
        width: 150px;
    }

    input[type="checkbox"] {
        width: unset;
        margin-left: 20px;
    }

    input,
    button,
    a {
        background-color: $color2;
        color: unset;
        font-family: unset;
        border: none;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 2px 2px 2px black;
        font-size: 15px;
        outline: none;
    }

    .avatar img {
        border-radius: 50%;
    }

    .avatar-input {
        width: 300px;
    }

    button {
        width: 80px;
    }

    button,
    a {
        cursor: pointer;
        transition: scale 0.2s ease-in-out;

        &:hover {
            scale: 1.1;
        }
    }

    a {
        padding: 5px;
        text-decoration: none;
    }

    .logout {
        background-color: #ec5959;
    }

    .public-profile {
        margin-top: 25px;

        a {
            background-color: #149dc7;
        }
    }
}
