@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: white;
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@-webkit-keyframes appear {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes disappear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes disappear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.header-child .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1d1d;
  width: calc(100vw - 40px);
  height: 44px;
  padding: 5px 20px;
}
.header-child .icon {
  display: inline-block;
  cursor: pointer;
}
.header-child .icon svg {
  height: 30px;
}
.header-child p {
  margin: 0;
}
.header-child button {
  background-color: #1d1d1d;
  border: none;
  outline: none;
  cursor: pointer;
  color: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  padding: 5px 8px;
  border-radius: 5px;
}
.header-child nav {
  position: fixed;
  z-index: 999;
  top: 0;
  -webkit-animation: appear 0.2s;
          animation: appear 0.2s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: flex;
  padding: 20px;
  background-color: RGBA(0, 0, 0, 0.7);
  width: 50vw;
}
.header-child nav hr {
  width: 100%;
}

.articles {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.preview {
  position: relative;
  background-color: #1d1d1d;
  width: 300px;
  max-height: 500px;
  overflow: hidden;
  box-shadow: 4px 4px 4px RGBA(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 10px;
}

.full {
  padding: 20px;
}

.article {
  line-break: normal;
}
.article .author {
  opacity: 0.3;
}
.article hr {
  margin: 15px 0;
}
.article .title {
  margin-top: 5px;
  margin-bottom: 0;
}
.article .body {
  margin: 0;
}
.article .body p {
  font-size: 15px;
  margin: 0;
}

.open-article {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: RGBA(0, 0, 0, 0.9);
  text-align: center;
}
.open-article p {
  padding: 10px;
  margin: 0;
  font-size: 20px;
}

.auth img {
  border-radius: 1000px;
  cursor: pointer;
}

.user-page {
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-page .info {
  width: 300px;
}
.user-page .info .avatar {
  display: flex;
  justify-content: center;
}
.user-page .info .avatar img {
  border-radius: 50%;
}
.user-page .info .name {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-page .info .name h1 {
  margin: 0;
}
.user-page .info .editor {
  background-color: #f8ae57;
}
.user-page .info .reader {
  background-color: #3fe66e;
}
.user-page .info .editor,
.user-page .info .reader {
  text-shadow: 1px 1px 2px black;
  padding: 2px;
  border-radius: 5px;
}
.user-page .info .option {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.user-page .info .option p {
  margin: 0;
}
.user-page .info .option span {
  opacity: 0.5;
}
.user-page .info .articles {
  margin: 8px 0;
  gap: 25px;
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.comments-section .not-logged {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.comments-section .not-logged p {
  margin: 0;
}

.comments-child {
  width: 90vw;
  max-width: 500px;
}

.add-comment {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.add-comment form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.add-comment form textarea {
  background-color: #1d1d1d;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px black;
  color: unset;
  font-family: unset;
  width: calc(100% - 20px);
  height: 100px;
  padding: 10px;
  resize: none;
  font-size: 15px;
}
.add-comment form button {
  background-color: #1d1d1d;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px black;
  color: unset;
  font-family: unset;
  cursor: pointer;
  height: 50px;
}

.comments .comment {
  display: flex;
  gap: 10px;
}
.comments .comment img {
  border-radius: 50%;
}
.comments .comment .date {
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 2px;
}
.comments .comment .username {
  margin: 0;
  opacity: 0.4;
}
.comments .comment .username a {
  cursor: pointer;
}
.comments .comment .body {
  margin-bottom: 0;
  line-break: anywhere;
}
.comments .comment .left {
  width: 10%;
}
.comments .comment .right {
  width: 90%;
}
.comments hr {
  border: 1px solid RGBA(255, 255, 255, 0.2);
  margin: 20px 0;
}/*# sourceMappingURL=style.css.map */